 html, body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app {
  margin-top: 5px;
  background-color:white;
  max-width: 375px; 
  max-height: 667px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;	
}


#container{
  max-width: 375px; 
  max-height: 667px;
  background-color: 	rgba(76, 175, 80, 0.3); 
}

#body{
  background-image: url('./images/palmtree.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#trex-header  {
  background-color: 	rgba(76, 175, 80, 0.3); 
  text-align: center;  
  max-width: 375px; 
  max-height: 667px;
}

#title {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  color: white;
  font-size: 36px;
  font-weight: 550;
  font-family: 'Courier New', Courier, monospace;
  text-shadow:
  -1.5px -1.5px 0 black,
  1.5px -1.5px 0  black,
  -1.5px 1.5px 0  black,
  1.5px 1.5px 0  black;     
}

#speech-area{
  text-align: center;
}

#bubble {
  position: absolute;
  opacity: 0.8;
  width: 90%;
  left: 5%;
}

#text {
  position: relative;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 8rem;
}

#trex {
  position: relative;
  height: 225px;
  left: 25%;   
}

@media screen and (max-width:1024px) {
  #quicktype {
    display: none
  }
}
